<ul class="side-bar" nz-menu nzMode="inline">
  <li nz-menu-item>
    <span nz-icon nzType="home"></span>
    <span>Home</span>
  </li>
  <li nz-submenu nzTitle="Products" nzIcon="shop">
    <ul>
      <li nz-menu-item>
        <span nz-icon nzType="eye"></span>
        <span>Take a look</span>
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="plus"></span>
        <span>Register</span>
      </li>
    </ul>
  </li>
  <li nz-submenu nzTitle="Sellers" nzIcon="user">
    <ul>
      <li nz-menu-item>
        <span nz-icon nzType="eye"></span>
        <span>Take a look</span>
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="plus"></span>
        <span>Register</span>
      </li>
    </ul>
  </li>
  <li nz-menu-item>
    <span nz-icon nzType="user"></span>
    <span>Developer</span>
  </li>
</ul>
