<ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">
        <span nz-icon nzType="home" nzTheme="outline"></span>
        <span>Home</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <span nz-icon nzType="shop" nzTheme="outline"></span>
        <span>products</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <span nz-icon nzType="home" nzTheme="outline"></span>
        <span>Sellers</span>
      </a>
    </li>
</ul>

